lib/sonic/xcvr_xg/.qsys-edit/
lib/sonic/xcvr_xg/pma/sonic_pma_v1_01_sim/
lib/sonic/xcvr_xg/sonic_v1_15/simulation/
lib/sonic/xcvr_xg/sonic_v1_15.html
lib/sonic/pcie/db/
lib/sonic/vc/.qsys-edit/
lib/sonic/pcie/top_examples/
lib/sonic/ram/greybox_tmp/
lib/sonic/ram/sim/
lib/sonic/pcie/examples/sonic_chaining_dma/db/
project_files/sonic/sonic_xg_blocksync/*.smsg
project_files/sonic/sonic_xg_blocksync/*.summary
project_files/sonic/sonic_xg_blocksync/*.done
project_files/sonic/sonic_xg_blocksync/*.bak
project_files/sonic/sonic_xg_blocksync/*.map
project_files/sonic/sonic_xg_blocksync/db/*
project_files/sonic/sonic_xg_blocksync/PLLJ_PLLSPE_INFO.txt
project_files/sonic/sonic_xg_blocksync/incremental_db/
project_files/sonic/sonic_xg_blocksync/top_example_chaining_top.jdi
project_files/sonic/sonic_xg_blocksync/top_example_chaining_top.pin
project_files/sonic/sonic_xg_blocksync/top_example_chaining_top.map.smsg
project_files/sonic/sonic_xg_blocksync/bugfix*
project_files/sonic/sonic_xg_blocksync/greybox_tmp/
project_files/sonic/sonic_xg_blocksync/testbench/work/
project_files/sonic/sonic_xg_bitstream/db/*
testsuite/full_blocksync_sim/testbench/sonic_blocksync_sim/
testsuite/full_blocksync_sim/testbench/.qsys_edit/
testsuite/full_dma_sim/testbench/.qsys_edit/
