src/top_examples/.qsys-edit/
src/top_examples/pma/sonic_pma_v1_01_sim/
src/top_examples/sonic_v1_15/
src/top_examples/sonic_v1_15/simulation/
src/top_examples/sonic_v1_15.html
src/top_examples/sonic_chaining_dma/*.rpt
src/top_examples/sonic_chaining_dma/*.smsg
src/top_examples/sonic_chaining_dma/*.summary
src/top_examples/sonic_chaining_dma/*.done
src/top_examples/sonic_chaining_dma/*.bak
src/top_examples/sonic_chaining_dma/*.map
src/top_examples/sonic_chaining_dma/db/*
src/top_examples/sonic_chaining_dma/PLLJ_PLLSPE_INFO.txt
src/top_examples/sonic_chaining_dma/incremental_db/
src/top_examples/sonic_chaining_dma/top_example_chaining_top.jdi
src/top_examples/sonic_chaining_dma/top_example_chaining_top.pin
src/top_examples/sonic_chaining_dma/top_example_chaining_top.map.smsg
src/top_examples/misc/avalon_mm_master/.qsys_edit/
src/top_examples/plls/greybox_tmp/
src/top_examples/sonic_chaining_dma/bugfix*
src/top_examples/sonic_chaining_dma/greybox_tmp/
src/top_examples/sonic_chaining_dma/testbench/work/
src/top_examples/nios/software/
src/top_examples/software/.metadata/
verif/sonic_app/.qsys_edit/
verif/sonic_app/sonic_application_top_testbench/testbench/.qsys_edit/
verif/sonic_app/testcode/work/
verif/sonic_app/testcode/transcript
verif/sonic_app/testcode/vsim.wlf
verif/nios/modelsim.ini
verif/nios_base*
lib/sonic/pcie/examples/sonic_chaining_dma/db/
project_files/sonic/quartus/db/
project_files/sonic/quartus/incremental_db/
project_files/sonic/quartus/*.rpt
project_files/sonic/quartus/*.smsg
project_files/sonic/quartus/*.summary
project_files/sonic/quartus/*.done
project_files/sonic/quartus/*.bak
project_files/sonic/quartus/*.map
project_files/sonic/quartus/PLLJ_PLLSPE_INFO.txt
testsuite/lib_module/blocksync/obj_dir/
testsuite/lib_module/gearbox/obj_dir/
testsuite/lib_module/lib/.svn/


