<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.altera.sbtgui.launch.modelsim.Nios2ModelsimLaunchConfiguration">
<stringAttribute key="elfFile" value="/home/hwang/sonic/projects/sonic_fpga/src/top_examples/software/sonic_app/sonic_app.elf"/>
<stringAttribute key="modelSimPath" value="/home/hwang/altera/10.1sp1/modelsim_ase/linuxaloem"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.altera.debug.cdi.gdb.plugin.Nios2GdbCdiDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="sonic_app.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="sonic_app"/>
<stringAttribute key="spdPath" value="/home/hwang/sonic/projects/sonic_fpga/src/top_examples/sonic_v1_15.spd"/>
</launchConfiguration>
